:root {
  --g-white: #F6F8F9;
  --g-white2: #fdfdfd;
  --g-dark: #2C2E30;
  --g-gray: #D8D8D8;
  --g-gray-2: #7c7c7c;
  --g-gray-3: #979797;
  --g-gray-4: #c4bebe;

  /* spaces */
  --g-space-xxxs: 4px;
  --g-space-xxs: 6px;
  --g-space-xs: 8px;
  --g-space-s: 12px;
  --g-space-medium: 16px;
  --g-space-xxxl: 18px;
  --g-space-l: 32px;

  --g-header-height: 100px;

  /* font */
  --g-font-weight-bold: 700;
}

/* semantic color variables for this project */
:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  // min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
